<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Data Karyawan</title>
    <link rel="stylesheet" href="/public/datatables/datatables.css">
    <link rel="stylesheet" href="/public/css/bootstrap.css">    
    <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>
    <div class="container p-4 mb-4 mt-4 mx-auto rounded bg-white shadow">
        <h4>Daftar Karyawan</h4>
        <button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#tambah">
            Tambah
        </button>
        <table id="table" class="table">
            <thead>
                <tr>
                    <th>Nama</th>
                    <th>Email</th>
                    <th>Nomor Telpon</th>
                    <th>Alamat</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                {{range $element := .karyawan}} 
                    <tr>
                        <td>{{$element.Nama}}</td>
                        <td>{{$element.Email}}</td>
                        <td>{{$element.Notelp}}</td>
                        <td>{{$element.Alamat}}</td>
                        <td>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit{{$element.Id.Hex}}">Edit</button>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#hapus{{$element.Id.Hex}}">Hapus</button>
                        </td>
                    </tr>
                {{end}}
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="tambah" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="/tambah" method="POST">
                    <div class="modal-header">
                        <h5 class="modal-title">Tambah Karyawan</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Nama</label>
                            <input type="text" class="form-control" placeholder="Aditya Eka" name="nama" required>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" placeholder="aditya@bagas31.com" name="email" required>
                        </div>
                        <div class="form-group">
                            <label>Nomor Telp</label>
                            <input type="text" class="form-control" placeholder="081357687939" name="notelp" required>
                        </div>
                        <div class="form-group">
                            <label>Alamat</label>
                            <input type="text" class="form-control" placeholder="Jawa Timur" name="alamat" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                        <button type="submit" class="btn btn-primary">Tambah</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {{range $element := .karyawan}} 
    <div class="modal fade" id="edit{{$element.Id.Hex}}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="/update" method="POST">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit Karyawan</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                       <div class="form-group" style="display: none;">
                            <label>Nama</label>
                            <input type="text" class="form-control" placeholder="Aditya Eka" name="nama-before" required value="{{$element.Nama}}" readonly>
                        </div>
                        <div class="form-group" style="display: none;">
                            <label>Email</label>
                            <input type="email" class="form-control" placeholder="aditya@bagas31.com" name="email-before" required value="{{$element.Email}}" readonly>
                        </div>
                        <div class="form-group" style="display: none;">
                            <label>Nomor Telp</label>
                            <input type="text" class="form-control" placeholder="081357687939" name="notelp-before" required value="{{$element.Notelp}}" readonly>
                        </div>
                        <div class="form-group" style="display: none;">
                            <label>Alamat</label>
                            <input type="text" class="form-control" placeholder="Jawa Timur" name="alamat-before" required value="{{$element.Alamat}}" readonly>
                        </div>
                        <div class="form-group" style="display: none;">
                            <label>ID</label>
                            <input type="text" class="form-control" placeholder="Jawa Timur" name="id" required value="{{$element.Id.Hex}}" readonly>
                        </div>

                        <div class="form-group">
                            <label>Nama</label>
                            <input type="text" class="form-control" placeholder="Aditya Eka" name="nama" required value="{{$element.Nama}}">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" placeholder="aditya@bagas31.com" name="email" required value="{{$element.Email}}">
                        </div>
                        <div class="form-group">
                            <label>Nomor Telp</label>
                            <input type="text" class="form-control" placeholder="081357687939" name="notelp" required value="{{$element.Notelp}}">
                        </div>
                        <div class="form-group">
                            <label>Alamat</label>
                            <input type="text" class="form-control" placeholder="Jawa Timur" name="alamat" required value="{{$element.Alamat}}">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {{end}}

    {{range $element := .karyawan}} 
    <div class="modal fade" id="hapus{{$element.Id.Hex}}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="/hapus" method="POST">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit Karyawan</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                       <div class="form-group" style="display: none;">
                            <label>Nama</label>
                            <input type="text" class="form-control" placeholder="Aditya Eka" name="nama-before" required value="{{$element.Nama}}" readonly>
                        </div>
                        <div class="form-group" style="display: none;">
                            <label>Email</label>
                            <input type="email" class="form-control" placeholder="aditya@bagas31.com" name="email-before" required value="{{$element.Email}}" readonly>
                        </div>
                        <div class="form-group" style="display: none;">
                            <label>Nomor Telp</label>
                            <input type="text" class="form-control" placeholder="081357687939" name="notelp-before" required value="{{$element.Notelp}}" readonly>
                        </div>
                        <div class="form-group" style="display: none;">
                            <label>Alamat</label>
                            <input type="text" class="form-control" placeholder="Jawa Timur" name="alamat-before" required value="{{$element.Alamat}}" readonly>
                        </div>
                        <div class="form-group" style="display: none;">
                            <label>ID</label>
                            <input type="text" class="form-control" placeholder="Jawa Timur" name="id" required value="{{$element.Id.Hex}}" readonly>
                        </div>
                        Apakah anda yakin?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                        <button type="submit" class="btn btn-primary">Hapus</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {{end}}

    <script src="/public/js/jquery.js"></script>
    <script src="/public/js/bootstrap.js"></script>
    <script src="/public/datatables/datatables.js"></script>
    <script>
        $(document).ready(function () {
            $('#table').DataTable();
        });
    </script>
</body>
</html>